<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <style>
        input[type="number"] {
            width:60px;
        }
    </style>

    <title>Get Invoice Print</title>
  </head>
  <body>
        <title></title>
            {% include "_messages.html" %}
        <div class="container mt-4">
            <div class="row">
                Name : {{customer.name}}
                <br>
                Email : {{customer.email}}
                <br>
                Invoice id : {{orders.invoice}}
                <br>
                Payment Status : {{orders.status}}
                <br>
                <br>
            </div>
            <div class="row">
              
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price (INR)</th>
                        <th>Qty</th>
                        <th>Discount (INR)</th>
                        <th>Subtotal (INR)</th>

                    </thead>
                    <tbody>
                        {% for key, product in orders.orders.items() %}
                        <tr>
                            <td>{{loop.index}}</td>

                            <td>{{product.name}}</td>
                            <td>{{product.color}}</td>
                        <form action="{{url_for('updatecart', code=key)}}" method="post">
        
                            <td>{{product.price}}</td>
                            <td><input size="4" type="number" name="quantity" value="{{product.quantity}}" min="1" max="{{product.stock}}"></td>
                            {% if product.discount > 0 %}
                            <td>{{product.quantity|int * product.discount}}</td>
                            {% else %}
                            <td>NIL</td>
                            {% endif %}
                            {% set subTotal = product.quantity|int * (product.price|float - product.discount) %}
                            <td>{{subTotal}}</td>
                        </form>
                            <td></td>
                        </tr>
                        {% endfor %}
                        <table class="table table-sm">
                        <tr>
                            <td></td>
                            <td colspan="3"><h5>Tax : {{tax}} INR</h5></td>
                            <td colspan="3"><h5> Total : {{grandTotal}} INR</h5></td>
                        </tr>
                    </table>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>